.container{
    margin-bottom: 200px;
}

.color1{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding:20px 40px;
    
}
.price{
color: #FF589B;
}
.Buy-now-button{
    background-color:#FF589B;
    color: white;
    font-weight: 400;
    border-radius: 40px;
    text-decoration: none;
}
